 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/20220704_150147892_iOS1.jpg");
  background-position: 50% 47.24%;
}

.u-section-1 .u-sheet-1 {
  min-height: 342px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 130px;
}

.u-section-2 .u-text-1 {
  margin: 10px 14px 10px -14px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 2523px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 2523px;
}

.u-section-3 .u-list-item-1 {
  background-position: 50% 46.43%;
}

.u-section-3 .u-container-layout-1 {
  padding: 6px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-1 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 6px 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-2 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 6px 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-3 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-10 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-12 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-4 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 6px 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-4 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-14 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-16 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-5 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 6px 0;
}

.u-section-3 .u-text-17 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-5 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-18 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-19 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-20 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-6 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 6px 0;
}

.u-section-3 .u-text-21 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-6 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-22 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-23 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-24 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-7 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 6px 0;
}

.u-section-3 .u-text-25 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-7 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-26 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-27 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-28 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-8 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-8 {
  padding: 6px 0;
}

.u-section-3 .u-text-29 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-8 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-30 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-31 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-32 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-9 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-9 {
  padding: 6px 0;
}

.u-section-3 .u-text-33 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-9 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-34 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-35 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-36 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-10 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-10 {
  padding: 6px 0;
}

.u-section-3 .u-text-37 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-10 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-38 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-39 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-40 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-11 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-11 {
  padding: 6px 0;
}

.u-section-3 .u-text-41 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-11 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-42 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-43 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-44 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-12 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-12 {
  padding: 6px 0;
}

.u-section-3 .u-text-45 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-12 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-46 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-47 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-48 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-13 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-13 {
  padding: 6px 0;
}

.u-section-3 .u-text-49 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-13 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-50 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-51 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-52 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-14 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-14 {
  padding: 6px 0;
}

.u-section-3 .u-text-53 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-14 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-54 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-55 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-56 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-15 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-15 {
  padding: 6px 0;
}

.u-section-3 .u-text-57 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-15 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-58 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-59 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-60 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-16 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-16 {
  padding: 6px 0;
}

.u-section-3 .u-text-61 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-16 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-62 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-63 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-64 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-17 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-17 {
  padding: 6px 0;
}

.u-section-3 .u-text-65 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-17 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-66 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-67 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-68 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-18 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-18 {
  padding: 6px 0;
}

.u-section-3 .u-text-69 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-18 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-70 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-71 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-72 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-19 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-19 {
  padding: 6px 0;
}

.u-section-3 .u-text-73 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-19 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-74 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-75 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-76 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-20 {
  background-position: 50% 79.91%;
}

.u-section-3 .u-container-layout-20 {
  padding: 6px 0;
}

.u-section-3 .u-text-77 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-20 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-78 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-79 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-80 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-21 {
  background-position: 50% 82.9%;
}

.u-section-3 .u-container-layout-21 {
  padding: 6px 0;
}

.u-section-3 .u-text-81 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-21 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-82 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-83 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-84 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-22 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-22 {
  padding: 6px 0;
}

.u-section-3 .u-text-85 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-22 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-86 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-87 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-88 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-23 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-23 {
  padding: 6px 0;
}

.u-section-3 .u-text-89 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-23 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-90 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-91 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-92 {
  margin: 0 auto;
}

.u-section-3 .u-list-item-24 {
  background-position: 50% 79.16%;
}

.u-section-3 .u-container-layout-24 {
  padding: 6px 0;
}

.u-section-3 .u-text-93 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 14px 0 31px;
}

.u-section-3 .u-image-24 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-94 {
  margin: 19px 30px 0;
}

.u-section-3 .u-text-95 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-96 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 2081px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
  }

  .u-section-3 .u-text-17 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-18 {
    width: auto;
  }

  .u-section-3 .u-text-21 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-22 {
    width: auto;
  }

  .u-section-3 .u-text-25 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-26 {
    width: auto;
  }

  .u-section-3 .u-text-29 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-30 {
    width: auto;
  }

  .u-section-3 .u-text-33 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-34 {
    width: auto;
  }

  .u-section-3 .u-text-37 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-38 {
    width: auto;
  }

  .u-section-3 .u-text-41 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-42 {
    width: auto;
  }

  .u-section-3 .u-text-45 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-46 {
    width: auto;
  }

  .u-section-3 .u-text-49 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-50 {
    width: auto;
  }

  .u-section-3 .u-text-53 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-54 {
    width: auto;
  }

  .u-section-3 .u-text-57 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-58 {
    width: auto;
  }

  .u-section-3 .u-text-61 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-62 {
    width: auto;
  }

  .u-section-3 .u-text-65 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-66 {
    width: auto;
  }

  .u-section-3 .u-text-69 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-70 {
    width: auto;
  }

  .u-section-3 .u-text-73 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-74 {
    width: auto;
  }

  .u-section-3 .u-text-77 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-78 {
    width: auto;
  }

  .u-section-3 .u-text-81 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-82 {
    width: auto;
  }

  .u-section-3 .u-text-85 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-86 {
    width: auto;
  }

  .u-section-3 .u-text-89 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-90 {
    width: auto;
  }

  .u-section-3 .u-text-93 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-94 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 3586px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-26 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-30 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-33 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-34 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-37 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-38 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-41 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-42 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-45 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-46 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-49 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-50 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-53 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-54 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-57 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-58 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-61 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-62 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-65 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-66 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-69 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-70 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-73 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-74 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-77 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-78 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-81 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-82 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-85 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-86 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-89 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-90 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-93 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-94 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 370px;
  }

  .u-section-3 .u-image-2 {
    height: 370px;
  }

  .u-section-3 .u-image-3 {
    height: 370px;
  }

  .u-section-3 .u-image-4 {
    height: 370px;
  }

  .u-section-3 .u-image-5 {
    height: 370px;
  }

  .u-section-3 .u-image-6 {
    height: 370px;
  }

  .u-section-3 .u-image-7 {
    height: 370px;
  }

  .u-section-3 .u-image-8 {
    height: 370px;
  }

  .u-section-3 .u-image-9 {
    height: 370px;
  }

  .u-section-3 .u-image-10 {
    height: 370px;
  }

  .u-section-3 .u-image-11 {
    height: 370px;
  }

  .u-section-3 .u-image-12 {
    height: 370px;
  }

  .u-section-3 .u-image-13 {
    height: 370px;
  }

  .u-section-3 .u-image-14 {
    height: 370px;
  }

  .u-section-3 .u-image-15 {
    height: 370px;
  }

  .u-section-3 .u-image-16 {
    height: 370px;
  }

  .u-section-3 .u-image-17 {
    height: 370px;
  }

  .u-section-3 .u-image-18 {
    height: 370px;
  }

  .u-section-3 .u-image-19 {
    height: 370px;
  }

  .u-section-3 .u-image-20 {
    height: 370px;
  }

  .u-section-3 .u-image-21 {
    height: 370px;
  }

  .u-section-3 .u-image-22 {
    height: 370px;
  }

  .u-section-3 .u-image-23 {
    height: 370px;
  }

  .u-section-3 .u-image-24 {
    height: 370px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 350px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 350px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 350px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 350px;
  }

  .u-section-3 .u-text-15 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-5 {
    height: 350px;
  }

  .u-section-3 .u-text-19 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-6 {
    height: 350px;
  }

  .u-section-3 .u-text-23 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-7 {
    height: 350px;
  }

  .u-section-3 .u-text-27 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-8 {
    height: 350px;
  }

  .u-section-3 .u-text-31 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-9 {
    height: 350px;
  }

  .u-section-3 .u-text-35 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-10 {
    height: 350px;
  }

  .u-section-3 .u-text-39 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-11 {
    height: 350px;
  }

  .u-section-3 .u-text-43 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-12 {
    height: 350px;
  }

  .u-section-3 .u-text-47 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-13 {
    height: 350px;
  }

  .u-section-3 .u-text-51 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-14 {
    height: 350px;
  }

  .u-section-3 .u-text-55 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-15 {
    height: 350px;
  }

  .u-section-3 .u-text-59 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-16 {
    height: 350px;
  }

  .u-section-3 .u-text-63 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-17 {
    height: 350px;
  }

  .u-section-3 .u-text-67 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-18 {
    height: 350px;
  }

  .u-section-3 .u-text-71 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-19 {
    height: 350px;
  }

  .u-section-3 .u-text-75 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-20 {
    height: 350px;
  }

  .u-section-3 .u-text-79 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-21 {
    height: 350px;
  }

  .u-section-3 .u-text-83 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-22 {
    height: 350px;
  }

  .u-section-3 .u-text-87 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-23 {
    height: 350px;
  }

  .u-section-3 .u-text-91 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-24 {
    height: 350px;
  }

  .u-section-3 .u-text-95 {
    margin-top: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
  grid-template-rows: auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 1px;
}

.u-section-4 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 9px 15px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 6px auto 0;
}

.u-section-4 .u-image-1 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 10px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.25rem;
  margin: 27px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 0 auto;
}

.u-section-4 .u-list-item-2 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 9px 15px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 6px auto 0;
}

.u-section-4 .u-image-2 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 10px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.25rem;
  margin: 27px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 0 auto;
}

.u-section-4 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 9px 15px;
}

.u-section-4 .u-text-9 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 6px auto 0;
}

.u-section-4 .u-image-3 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 10px auto 0;
}

.u-section-4 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.25rem;
  margin: 27px auto 0;
}

.u-section-4 .u-text-12 {
  margin: 0 auto;
}

.u-section-4 .u-list-item-4 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 9px 15px;
}

.u-section-4 .u-text-13 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 6px auto 0;
}

.u-section-4 .u-image-4 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 10px auto 0;
}

.u-section-4 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.25rem;
  margin: 27px auto 0;
}

.u-section-4 .u-text-16 {
  margin: 0 auto;
}

.u-section-4 .u-list-item-5 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 9px 15px;
}

.u-section-4 .u-text-17 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 6px auto 0;
}

.u-section-4 .u-image-5 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 10px auto 0;
}

.u-section-4 .u-text-18 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-19 {
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.25rem;
  margin: 27px auto 0;
}

.u-section-4 .u-text-20 {
  margin: 0 auto;
}

.u-section-4 .u-list-item-6 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 9px 15px;
}

.u-section-4 .u-text-21 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 6px auto 0;
}

.u-section-4 .u-image-6 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 10px auto 0;
}

.u-section-4 .u-text-22 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-23 {
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.25rem;
  margin: 27px auto 0;
}

.u-section-4 .u-text-24 {
  margin: 0 auto;
}

.u-section-4 .u-list-item-7 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-7 {
  padding: 9px 15px;
}

.u-section-4 .u-text-25 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 6px auto 0;
}

.u-section-4 .u-image-7 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 10px auto 0;
}

.u-section-4 .u-text-26 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-27 {
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.25rem;
  margin: 27px auto 0;
}

.u-section-4 .u-text-28 {
  margin: 0 auto;
}

.u-section-4 .u-list-item-8 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-8 {
  padding: 9px 15px;
}

.u-section-4 .u-text-29 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 6px auto 0;
}

.u-section-4 .u-image-8 {
  filter: brightness(0.95);
  width: 250px;
  height: 350px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 10px auto 0;
}

.u-section-4 .u-text-30 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-31 {
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.25rem;
  margin: 27px auto 0;
}

.u-section-4 .u-text-32 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
  }

  .u-section-4 .u-text-12 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-text-14 {
    width: auto;
  }

  .u-section-4 .u-text-16 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-17 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-image-5 {
    object-position: 19.68% 50%;
  }

  .u-section-4 .u-text-18 {
    width: auto;
  }

  .u-section-4 .u-text-20 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-21 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-image-6 {
    object-position: 18% 50%;
  }

  .u-section-4 .u-text-22 {
    width: auto;
  }

  .u-section-4 .u-text-24 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-25 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-text-26 {
    width: auto;
  }

  .u-section-4 .u-text-28 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-29 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-text-30 {
    width: auto;
  }

  .u-section-4 .u-text-32 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 2px;
  }

  .u-section-4 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-13 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-17 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-21 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-25 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-29 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-15 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-19 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-23 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-27 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-31 {
    margin-top: 20px;
  }
} .u-section-5 {
  background-image: linear-gradient(white, #f5d654);
}

.u-section-5 .u-sheet-1 {
  min-height: 168px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-5 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-5 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 252px;
  min-width: 156px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-5 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-5 .u-icon-2 {
  height: 100%;
  color: rgb(115, 96, 242) !important;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 64px;
  }
} .u-section-6 {
  background-image: linear-gradient(#f5d654, #db545a);
}

.u-section-6 .u-sheet-1 {
  min-height: 168px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 30px 0 30px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-6 .u-container-layout-1 {
  padding: 29px 60px;
}

.u-section-6 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 312px;
  min-width: 184px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-6 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-6 .u-icon-2 {
    color: rgb(197, 54, 164) !important;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 68px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 102px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 64px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
}